body{
    background-color: rgb(229, 242, 247);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(3, 3, 51);
    
}

main{
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;

}

.form{
margin-left: 40px;
}



.li{
    display: flex;
    justify-content: space-between;
}
